
    <ul class="nav">
        <li class="home"  >
          <a href="4200/home">
            <img class="icon" src="/assets/homee.png" >
            <br/>בית</a>      
        </li>
         <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">
          <img class="icon" src="/assets/user11.png" >
          <br/> משתמשים</a>
            <div class="dropdown-content">
                <a href="/user"> הוספה / עדכון</a>
                <a href="/users">איתור</a>
            </div>
        </li>
         <li><a href="/available">
            <img class="icon" src="/assets/rooms.png" >
            <br/>חדרים</a>
        </li>
         <li><a href="/create_room">
            <img class="icon" src="/assets/report.png" style="width: 60px;">
            <br/>דוחות</a>
        </li>
        <li><a href="#news">
            <img class="icon" src="/assets/stas2.png" style="width: 60px;">
            <br/>סטטיסטיקות</a>
        </li>
        <!-- <li>
            <img class="icon" src="/assets/תמך.png" style="width: 20%; position:sticky; padding-left: 20%; margin-top: 0.5%">
        </li> -->

      <!-- <li><a href="#news">הגדרת תהליכים</a></li> -->
    
    </ul>

    <!-- למקם באמצעעעעעעעעעעעע -->
    <div class="router-outlet">
    <!-- style="position:absalute; left:60%">  -->
        <router-outlet></router-outlet>
    </div>

   
  




